table.table tbody tr.week-header {
  background-color: #666666;
  font-weight: bold;
  color: #ffffff;
}

nav.navbar-inverse, 
nav.navbar-inverse
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.navbar-collapse.collapse,
.navbar-collapse.collapsing {
  background-color: #666666;
  border-color: #333333;
}

nav.navbar-inverse .navbar-nav .active a,
nav.navbar-inverse .navbar-nav a:hover,
nav.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}

a {
  color: #666666;
}

a:hover {
  color: #888888;
}

