.text-nowrap {
  white-space: nowrap;
}

h1, h2 {
  border-bottom: 0.5px solid gray;
}

nav.navbar {
  margin-bottom: 0;
}

table.table thead tr th {
  text-align: center;
}

table.table tbody tr td {
  vertical-align: middle;
}

table.table tbody tr.column-header {
  background-color: #dddddd;
  font-weight: bold;
}

div.footer {
  font-size: 80%;
}

table ul.list-unstyled {
  margin-bottom: 0;
}
